.princ{
    .divs{
        .princ-text{
            width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4rem;
            .num-p{
                font-size: 2rem;
            }
            p{
                font-size: 1.6rem;
            }
        }
        .div1{
            margin-top: 6rem;
        }
        .div2{
            .princ-flex{
                display: flex;
                gap: 2rem;
            }
            .princ-p{
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 1.6rem;
            }
        }
    }
}