.princ{
    .divs{
        .princ-text{
            width: 48%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4rem;
            .num-p{
                font-size: 2rem;
            }
            p{
                font-size: 1.6rem;
            }
        }
        .div1{
            margin-top: 6rem;
            .princ-p{
                display: none;
            }

        }
        .div2{
            .princ-flex{
                display: flex;
                gap: 2rem;
            }
            .princ-p{
                margin-top: 2rem;
                margin-bottom: 2rem;
                font-size: 1.6rem;
            }
        }
    }
}

@media (max-width:1440px){
    .princ{
        .divs{
            flex-direction: column;
            .princ-text{
                width: 100%;
            }
            .div1{
                width: 100%;
                .princ-p{
                    display: block;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    font-size: 1.6rem;
                }
            }
            .div2{
                width: 100%;
                .princ-p{
                    display: none;
                }
            }
        }
    }
}
@media (max-width:660px) {
    .princ{
        .divs{
            .div2{
                .princ-flex{
                    margin-top: 2rem;
                    flex-direction: column;
                }
            }
        }
    }
}