.last-w{
    margin-top: 10rem;
    .divs{
        .div1{
            img{
                width: 100%;
            }
        }
        .div2{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            p{
                margin-top: 2rem;
                font-size: 2rem;
            }
            .s-p{
                font-size: 1rem;
                margin: 0;
                width: 35%;
            }
        }
    }
}
@media (max-width:1122px) {
    .last-w{
        .divs{
            flex-direction: column;
            .div1{
                width: 100%;
                img{
                    height: 500px;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .div2{
                width: 100%;
                p{
                    margin-bottom: 30px;
                }
            }
        }
    }
}