 :root{
  --main-color: #979797;
}
/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #000000;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fffb00de;
}
/* SCROLL */
 /* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ============================================== */

@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}
.stars, .twinkling {
position:fixed;
width:100%;
height:100%;
display:block;
}

.stars {
background:#000000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
z-index:0;
}
.twinkling{
background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) ;
z-index:1;

-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}
/* ============================================== */
html {
 scroll-behavior: smooth;

}
body {
  margin: 0;
  font-family: sans-serif;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  position: sticky;
  z-index: 3;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
.header{
  background-color: transparent;
  height: 45px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 5;
  backdrop-filter: blur(5px);
  background-color: #0000008c;
}
.header h2{
  text-shadow: 4px 4px 10px var(--main-color);
  margin: 3px;
  font-size: 35px;
  color: aliceblue;
}
.header:hover{
  .m{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
.header h2 .m{
  font-size: 40px;
  color: var(--main-color);
}
.header .links button{
  background-color: transparent;
  border: none;
  color: var(--main-color);
  padding: 6px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
  font-family: cursive;
}
.header .links button:hover{
  transition: 0.3s;
  transform: scale(1.3);
  color:rgba(246, 250, 6, 0.911) ;
}
@media screen and (max-width: 750px) {
  .header .links button{
    display: none;
  } 
}
.header .lines button{
  background-color: transparent;
  border: none;
  color: var(--main-color);
  padding: 6px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}
.header .lines button:hover{
  transition: 0.3s;
  transform: scale(1.3);
  color: antiquewhite;
}
@media screen and (min-width: 751px) {
  .header .lines button{
    display: none;
  }
}
/* ================== */
.image{
  height: 100vh;
  max-height: 600px;
  background-repeat: no-repeat; 
  background-position: center;
}
.image .container .info{
  color: aliceblue;
  margin-left: 50px;
  padding-top: 50px;
}
.image .container .info h3{
  font-weight: 200;
}
.image .info h1{
  text-shadow: 4px 4px 10px var(--main-color);
  margin: 0;
  font-size: 60px;
}
.image .info h1 span{
  font-size: 70px;
  color: var(--main-color);
}
.image:hover{
  .info h1 span{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
/* ============== */
.about{
  margin-top: 30px;
}
.about:hover{
  .text h1{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
  .text h3{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
.about .container img{
  float: left;
  max-width: 250px;
  border-radius: 6%;
  border: 1px solid  #ffffffc0;
  margin-right: 10px;
}
.about .text{
  color: aliceblue;
  padding: 30px;
}
.about .text h1 {
  text-shadow: 5px 2px 7px var(--main-color);
  color: var(--main-color);
  font-size: 50px;
  margin: 0;
  padding: 0;
}
.about .text p{
  padding-bottom: 10px;
  font-size: 18px;
}
.about .text p .pspan{
  color: var(--main-color);
  font-size: 30px;
}
.about .text p a{
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  color: #a80000;
}
.about .text h3{
  text-shadow: 4px 4px 10px var(--main-color);
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 30px;
  color: var(--main-color);
}
/* ============ */
.cert {
  padding-top: 30px;
  padding-bottom: 0;
  text-align: center;
  justify-content: center;
}
.cert:hover{
  .container h1{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
  .link{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
.cert .cert-cont {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  margin-top: 10px;
}
.cert h1{
  text-shadow: 4px 4px 10px var(--main-color);
  color: var(--main-color);
  font-size: 50px;
  margin: 0;
  margin-bottom: 40px;
  margin-right: 780px;
}
.cert .cert-cont .card .box img {
width: 300px;
max-width: 100%;
transition: .3s;
}
.cert .cert-cont .card .info {
padding: 10px;
}
.cert .cert-cont .card .info h3 {
  text-shadow: 4px 4px 10px var(--main-color);
  color: var(--main-color);
  font-size: 30px;
  margin: 0;
}
.cert .cert-cont .card:hover{
  .info h3{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
.cert .cert-cont .card .info p {
color:antiquewhite;
font-size: 15px;
line-height: 1.5;
margin-bottom: 0;
}
.cert .link {
  text-shadow: 4px 4px 10px var(--main-color);
  color: var(--main-color);
  font-size: 25px;
  text-align: center;
}
.cert .link .in{
  color: bisque;
  text-decoration: none;
}
.cert  .link .in:hover{
text-shadow: 4px 4px 10px  rgba(49, 14, 205, 0.85);
color: rgba(49, 14, 205, 0.85);
transition: 0.3s;
}
/*===================*/
.serv {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}
.serv:hover{
  .container h1{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
.serv .serv-cont {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
  grid-gap: 120px;
  margin-top: 10px;
  justify-content: center;
  justify-items: center;
}
.serv .serv-cont .card {
  max-width: 300px;
  min-width: 280px;
  transition: 0.3s;
  border-radius: 10%  ;
}
.serv .serv-cont .card:hover{
  text-shadow: 4px 4px 10px #000000;
  backdrop-filter: blur(5px);
  .info h2{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
.serv h1{
  text-shadow: 4px 4px 10px var(--main-color);
  color: var(--main-color);
  font-size: 50px;
  margin-bottom: 0;
  margin-right: 780px;
}
.serv .serv-cont .card .box img {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 150px;
  width: 70px;
  max-width: 100%;
  transition: .3s;
}
.serv .serv-cont .card .info {
padding: 10px;
max-width: 280px;
}
.serv .serv-cont .card .info h2 {
  text-shadow: 4px 4px 10px var(--main-color);
  color: var(--main-color);
  font-size: 30px;
  margin: 0;
}
.serv .serv-cont .card .info h3 {
  color: var(--main-color);
  font-size: 30px;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 130px;
}
.serv .serv-cont .card:hover{
  .info h3{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
.serv .serv-cont .card .info p {
color:rgb(255, 248, 212);
font-size: 14px;
line-height: 1.5;
margin-bottom: 0;
}
/* ================= */
.cont {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
  margin-bottom: 30px;
}
.cont:hover{
  .cont-cont .cont-me  h1{
    text-shadow: 4px 4px 10px rgba(246, 250, 6, 0.911);
    color:rgba(246, 250, 6, 0.911) ;
    transition: 0.5s;
  }
}
.cont .cont-cont {
  position: relative;
  display: grid;
  margin-top: 10px;
  justify-content: center;
}
.cont .cont-cont .cont-me h1{
  text-shadow: 4px 4px 10px var(--main-color);
  color: var(--main-color);
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 0;
}
.cont .cont-cont .cont-me img{
  width: 30px;
  margin-top: 10px;
}
.cont .cont-cont .cont-me p{
  color: antiquewhite;
  font-size: 20px;
}
.cont .cont-cont .cont-me p a{
  color: antiquewhite;
  text-decoration: none;
  padding: 10px; 
}
.cont .cont-cont .cont-me p:hover{
  font-size: 22px;
  transition: 0.3s;
}

/* ============================== */
/* ============================== */
.foot{
  color: var(--main-color);
  height: 40px;
}
.foot .container{
  text-align: center;
}
.foot .container p{
  font-size: 20px;
}
/* ============================== */
/* ============================== */